{% extends 'base.html.twig' %}

{% block title %}Formation index
{% endblock %}

{% block body %}
	<h1>Formation index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				{# <th>Content</th> #}
				<th>Capacity</th>
				<th>Price</th>
				<th>CreatedAt</th>
				{# <th>Description</th> #}
				<th>StartDateTime</th>
				<th>EndDateTime</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for formation in formations %}
				<tr>
					<td>{{ formation.id }}</td>
					<td>{{ formation.name }}</td>
					{# <td>{{ formation.content }}</td> #}
					<td>{{ formation.capacity }}</td>
					<td>{{ formation.price }}</td>
					<td>{{ formation.createdAt ? formation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					{# <td>{{ formation.description }}</td> #}
					<td>{{ formation.startDateTime ? formation.startDateTime|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ formation.endDateTime ? formation.endDateTime|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<div class="form-check-inline">
							<a class="btn btn-secondary btn-sm mr-2" href="{{ path('app_formation_show', {'id': formation.id}) }}">
								<i class="fa fa-eye"></i>
							</a>
							<a class="btn btn-warning btn-sm mr-2" href="{{ path('app_formation_edit', {'id': formation.id}) }}">
								<i class="fa fa-pencil"></i>
							</a>
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary" href="{{ path('app_formation_new') }}">
		<i class="fa fa-plus"></i>
		{{ 'Create new'|trans }}</a>
{% endblock %}
